.contain{
    margin: 0;
    height: 120vh;
    background-color: #96CA4C;
    position: relative;
   
    background-position:center bottom;
    padding: 0;
    margin: 0;
   
    
}

h1{
    padding: 0;
    margin: 0;
}
<<<<<<< HEAD
=======
 li a:hover{
 
  filter: drop-shadow(1px 8px 54px #FDC401);

}
>>>>>>> c3f069b9842708afd616eb5577a7185f4626a87e
