.contain{
    margin: 0;
    height: 120vh;
    background-color: #96CA4C;
    position: relative;
   
    background-position:center bottom;
    padding: 0;
    margin: 0;
   
    
}

h1{
    padding: 0;
    margin: 0;
}

 li a:hover{
 
  filter: drop-shadow(1px 8px 54px #FDC401);

}

