ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #02798c;
  position: fixed;
  width: 100%;
  z-index: 100;
}

li {
  /* float: right;*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.bg {
  text-decoration: none;
  font-size: 32px;
  color: white;
}

.bg-active {
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ba762b, white);
  font-size: 32.1px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.bg:hover {
  background-size: 500px;
  color: #ba762b;
}
/* .bg:visited {
  color: #ba762b;
  
} */
