.contain2{
    margin: 0;
    height: 120vh;
    background-color: #96CA4C;
    position: relative;
    z-index: -1;
    background-position:center bottom;
    padding: 0;
    margin: 0;
}

h1{
    padding: 0;
    margin: 0;
}