/*.sheep:hover{
 
    filter: drop-shadow(1px 2px 20px #FDC401);
    cursor: pointer;
    transition: 0.3s;
  
  }
.wolf:hover{
 
    filter: drop-shadow(1px 2px 20px #FDC401);
    cursor: pointer;
  
  }

  */