@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

#s6{
    padding-top: 2px;
    margin: 40px;
    font-size: 22px;
    font-family: 'Balsamiq Sans', cursive;
    padding-right: 300px;
    right: 3%;
    position: relative;
    
}