.contain3{
  
    margin: 0;
    height: 120vh;
    background-color: #A5DAE2;
    position: relative;
    z-index: -1;
    background-position:center bottom;
    padding: 0;
    margin: 0;
}
h1{
    
    padding: 5%;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 150px;
 
}

.grid-container {
    margin: 15em;
    top: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
  }
 