@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap");

#s3 {
  padding-top: 5px;
  margin-top: 20px;
  font-size: 22px;
  font-family: "Balsamiq Sans", cursive;
}
@keyframes childHaha {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
